[2021-12-17 06:44] pomg commented on #602
If this step is a little bit confusing, you might try the following command in terminal and then refresh the page.

`gsettings get org.gnome.shell disable-extension-version-validation true`

 Even though there will be an error on the extension page, the application will be working as expected.

[2021-12-21 12:25] mariokarchev commented on #442
It is not usable at all, freezes immediately after starting - Fedora 35 (gnome 41)

[2021-12-22 10:13] aryx commented on #442
Still had the problem today with my Arch linux. I fixed it by running
gnome-extensions-app first, and enable pomodoro there.
Then it worked.
This was for gnome 41

[2021-12-23 19:05] subhasishdas159 commented on #275
it's still relevant

[2022-01-03 23:57] josehbez commented on #275
I don't think so.

[2022-01-04 15:12] causticsudo opened #606 "Button to clear statistics"
Hey, guys,

First off, thanks and congratulations for the wonderful app, today it's my favorite.

I wish there was a resource, to clear the time statistics I like in breaks and pomodoro, remaining time programmed.

Turns out in one day, I ended up suspending the laptop and forgetting to remove the long break, and this morning I went to look at the stats, and I just had 15hrs of break, lol.

Does i

[2022-01-07 01:42] rodrigogonegit commented on #594
Running strace gnome-pomodoro shows that it is attempting to import the lib from these locations:

[code]
When in fact the file is located in `/usr/local/lib/x86_64-linux-gnu/gnome-pomodoro/`.
Copying libgnome-pomodoro.so.0 to any of the target locations should work, I copied it to `/usr/lib/x86_64-linux-gnu/`, so just run:

`sudo cp /usr/local/lib/x86_64-linux-gnu/libgnome-pomodoro.so.0 /usr/lib/

[2022-01-07 16:44] xsebek commented on #602
Enabling the extension helped me too! :+1:

If it is in fact required, maybe it could be set by the package?

Doing it manually feels like a weird hack, but I am happy it works :slightly_smiling_face:

[2022-01-09 10:23] kamilprusko commented on #606
Hi @causticsudo  :)

Currently it counts suspended time or even reboots as if the timer was running. It's was a bad choice 😅 ... I'm doing thorough review of the timer internals. I intend to change it, so reboot/suspend would be counted as if the timer was paused.

As to adding a button to clear statistics -  i don't think it will be needed once the bug is fixed. Also, the project would benefit fo

[2022-01-09 10:23] #606 closed

[2022-01-09 12:27] kamilprusko commented on #594
Thanks @rodrigogonegit for the strace log.

It may be a meson > 0.56.0 issue: https://github.com/mesonbuild/meson/issues/8561

From what I understand, libdir normally is baked into executable as one of the search paths for the .so. I confirm that installing gnome-pomodoro into non-standard prefix causes this issue, and /usr/local seems to be non-standard.

To avoid this issue, cleanest workaround

[2022-01-12 20:00] collins-lagat commented on #594
@kamilprusko Thanks. This workaround worked.

[2022-01-23 21:15] kappa opened #608 "GNOME Shell 42 support in the extension"
## Is your proposal related to a problem?

GNOME Pomodoro Shell extension does not work in recent GNOME Shell 42 which is going to be released in March.

## Describe the solution you'd like

Add "42" to metadata.json, test.

## Other information

Pomodoro app itself seems to work fine in GNOME 42.

[2022-01-23 21:19] kappa commented on #608
Naive fix failed for with "Clutter.get_default_frame_rate is not a function" error message. Some changes in the extension code will be needed to support 42.

[2022-01-25 06:25] mystilleef opened #610 "Custom ticking sounds don't work after resuming from sleep"
## Issue Summary

When my computer resumes from sleep, custom ticking sounds stop working. I often have to toggle `Prefrences -> Plugins... -> Sounds` to get it working again.

## Steps to Reproduce

1. Enable ticking sounds
2. Set a custom mp3 sound
3. Start a pomodoro session
4. Wait for computer to sleep or suspend
5. Continue or restart pomodoro session
6. Sometimes pausing and unpausing the s

[2022-01-25 15:34] c7hm4r commented on #380
`gnome-pomodoro` freezes still 3s after start.

- Fedora 35; BTRFS; clean user account
- logging out and in again does *not* help
- nothing is shown on STDOUT/-ERR

[2022-01-31 14:44] mystilleef commented on #610
The workaround for those experiencing this issue is to use `Custom Actions`. Create shell scripts to play your custom ticking sounds. Then use the triggers in `Custom Actions` to trigger when the sound should start or stop playing.

[2022-01-31 15:27] OlgaMaciaszek commented on #380
Same here. Restart worked for me on an earlier version of Fedora, and possibly the Pomodoro app. I'm setting up a new machine and restarting does not help things anymore.

[2022-01-31 16:18] kamilprusko commented on #610
@mystilleef Thanks for reporting the issue. I'll look into this.

[2022-02-01 08:58] xblahoud commented on #592
Is there anybody who maintains the Ubuntu package? It seems like incompatible version is installed.

[2022-02-02 09:24] abettati commented on #608
This is true also with Gnome Shell 40.4 (i.e. no icon in the taskbar under Ubuntu 21.10)

[2022-02-02 09:31] bbo2adwuff commented on #608
@abettati Here it works, but after I updated `gnome-shell` I had to reinstall `gnome-pomodoro`.

If it still doesn't work after that you should check if the extension is disabled:
[code]
If yes, then enable:
[code]

[2022-02-03 04:49] cross-hello commented on #191
The answer you posed solve problem.
Thank you~

[2022-02-03 13:30] CLNRMN commented on #602
https://github.com/gnome-pomodoro/gnome-pomodoro/issues/608#issuecomment-1027744138 worked for me (fedora 35).

[2022-02-03 13:59] abettati commented on #608
@bbo2adwuff thanks, but I tried and it is still not working.
I can see pomodoro in extensions, but it has a red cross and the description reads:
`The extension is incompatible with the current GNOME version`

My current gnome version is, more precisely, `40.4.0`

[2022-02-03 14:07] mbooth101 commented on #608
You need to use the latest version for gnome 40 support. The version shipped with Fedora 35 is 0.20.0:

    $ rpm -q gnome-pomodoro
    gnome-pomodoro-0.20.0-1.fc35.x86_64

[2022-02-03 14:10] abettati commented on #608
Ok, the problem then is that ubuntu points to the old `0.18`

[2022-02-03 14:10] mbooth101 commented on #608
Ah, in that case you should file a bug with Ubuntu to update their package :-)

[2022-02-04 08:30] csasalu commented on #492
The change in prefix is not the issue @penyuan . I get the same error while installing on RHEL-8.
`gnome-pomodoro]$ ./autogen.sh --prefix=/usr --datadir=/usr/share
aclocal: installing 'm4/libtool.m4' from '/usr/share/aclocal/libtool.m4'
aclocal: installing 'm4/ltoptions.m4' from '/usr/share/aclocal/ltoptions.m4'
aclocal: installing 'm4/ltsugar.m4' from '/usr/share/aclocal/ltsugar.m4'
aclocal: inst

[2022-02-04 09:10] David-Else commented on #492
I don't think this is ever going to be fixed :( I am using https://flathub.org/apps/details/org.gnome.Solanum . It is not as advanced, but is minimal, written in Rust, and well maintained.

[2022-02-04 15:40] penyuan commented on #492
Thank you for the suggestion @David-Else! I'll give it a try, then.

[2022-02-06 14:50] kamilprusko commented on #610
I pushed a patch to master branch 13035390d644fc9bea2f6dd9879cf3a6107bc5b4 . Improving error handling to retry playing the sound in case of an error.

Only, I don't experience this issue. Not sure if it will solve it.

[2022-02-06 18:44] #608 closed

[2022-02-07 07:54] shubh4122 opened #611 "Add some Interactive features in stats portion"
## Is your proposal related to a problem?

NO

## Describe the solution you'd like

Adding a feature in the stats section which facilitates users to know exact stats values by hovering over/clicking on the graphs

[2022-02-07 08:14] shubh4122 opened #612 "Making Pomodoro a little more flexible for Users"
## Is your proposal related to a problem?

NO

## Describe the solution you'd like

There are many who work till late night, and using pomodoro after 12am counts the time i spent working on the next day -- In stats.
I would like to propose an idea to Let users select the time to reset the day.
For instance, now if i work after 12 am, the time is counted and displayed on the next day's portion. It

[2022-02-07 10:02] kamilprusko commented on #611
Do you mean more detailed stats like time spent per app? Or in case of one day include a history/timeline, showing at what time you had pomodoros or breaks?

[2022-02-07 10:15] kamilprusko commented on #612
Noted. I want to focus on porting the app to GTK4 before making such changes.

[2022-02-08 15:04] shubh4122 commented on #611
No, What i mean is like, suppose I spent 4 hours and 20 min working on some day, say Monday.
So when I go to the weekly stats and hover my mouse cursor over Monday's Graph, it should show the exact time that is 4 hrs and 20 min.

[Image for reference](https://www.metabase.com/learn/images/guide-to-charts/histogram.png)
When hovered over a particular histogram pillar, it shows exact value of quanti

[2022-02-09 16:53] davidromerot commented on #486
I have the same error. Any solution?

[2022-02-12 11:44] #446 closed

[2022-02-12 11:44] #560 closed

[2022-02-14 13:14] #526 closed

[2022-02-15 08:00] dikium commented on #543
I found the shorter and the better way to resolve the issue with this script:
[code]
Now it starts pomodoro when you change window focus...

[2022-02-16 14:39] lpalazzi opened #613 "No icon in top bar"
## Issue Summary

Installing on PopOS 21.10 (GNOME 40.4.0) does not show the icon in the top bar like it used to. I tried installing through `sudo apt install` as well as building from source.

## Steps to Reproduce

1. Install Pomodoro on PopOS 21.10
2. Open Pomodoro

## Expected Behavior

Icon in top bar shows

## Current Behavior

No icon in top bar

## Other information

Switched to installing

[2022-02-17 09:12] rbarte commented on #380
The same here on Fedora 35 and gnome-pomodoro 0.20.0.

[2022-02-17 15:57] lpalazzi commented on #613
@kamilprusko  Did the first two items, but I can't enable the extension through the extension app (see below)

![image](https://user-images.githubusercontent.com/33534854/154519819-28fa4684-3db5-4473-bfc9-e30d962ded98.png)

[2022-02-18 11:23] musamaanjum opened #614 "Break duration is seconds"
## Is your proposal related to a problem?
Yes, break duration cannot be set to seconds.

## Describe the solution you'd like
Add support to set break duration to seconds. Maybe 10, 20, 40, 50 seconds would be okay.

## Describe alternatives you've considered
There is no alternative.

## Other information
There is a rule named as "20-20-20 Rule" to avoid eye strain. It says, "Set a timer to remind

[2022-02-18 12:39] kamilprusko commented on #614
You can set duration in seconds using dconf editor or by commandline:
`$ gsettings set org.gnome.pomodoro.preferences short-break-duration 20.0`

The slider in the preferences dialog doesn't have resolution to allow seconds above 1 minute. It would be doable to include 30s or 20s / 40s. But still, I'm not in favor of breaking consistency.

[2022-02-18 12:39] #614 closed

[2022-02-22 07:03] logrusx commented on #497
It looks like this is no longer relevant.

[2022-02-22 07:03] #497 closed

[2022-02-22 07:09] logrusx commented on #561
I've observed that too, back then I used a desktop computer and it used to happen when the screensaver turned off the display and the break finished. After the screen wake up, the icon was enlarged and the extension didn't work correctly. However I haven't observed such a behavior after migrating from ayatana indicators. I think for the current version 0.20 and judging from the comments above - 0.

[2022-02-22 07:15] logrusx commented on #613
@lpalazzi see what text is displayed when you expand the item pressing the right arrow.

[2022-02-22 07:26] logrusx opened #615 "gnome-pomodoro 0.20.0 interferes with screensaver in Gnome/Wayland"
## Issue Summary

Screensaver display off time timeout is inhibited

## Steps to Reproduce

1. configure the screensaver display off timeout;
2. configure the break to be longer than the above timeout;
3. start a break;
4. wait for the timeout to be triggered.

## Context (logs, error output, screencast, OS, Desktop  etc)

Happens (at least) since Gnome 40.something, running on Wayland and Gentoo

[2022-02-22 14:22] lpalazzi commented on #613
@logrusx

My GNOME version is 40.4.0

![image](https://user-images.githubusercontent.com/33534854/155151252-3126b59b-b951-4401-9066-1c6552a61b0d.png)

[2022-02-22 14:29] lpalazzi commented on #613
@logrusx How can I install a newer version?

[2022-02-22 14:52] logrusx commented on #613
@lpalazzi try thus [https://www.reddit.com/r/pop_os/comments/obhnx9/pomodoro_not_in_topbar_anymore/](url). If it doesn't help, go to Pop OS' support/community forums, chats et.c. It's not the place here to ask for support on your OS.

[2022-02-24 15:39] logrusx opened #616 "gnome-pomodoro-0.20.0 notifications don't work under Gnome/Wayland"
## Issue Summary

When pomodoro starts or nears its end, notifications are shown, but when on Wayland, they do not appear.

## Steps to Reproduce

1. Start a Gnome Wayland session
2.
a) Start pomodoro
b) Wait for the last minute of pomodoro.

## Context (logs, error output, screencast, OS, Desktop  etc)

Gnome 41/Wayland

## Expected Behavior

a) A notification should appear
b) A notification with

[2022-02-24 15:42] logrusx commented on #595
I think #616 might be related or duplicate.

[2022-02-24 16:15] logrusx commented on #584
I'm running Gnome 41.3 on Gentoo Linux. I was unable to reproduce the issue with gnome-pomodoro-0.20.0 neither on Wayland nor on Xorg 21.1.3.
However I think it might be due to the above mentioned fix for activation of the lock screen, which might be causing #615.

[2022-02-27 06:30] willosdalb commented on #613
yup same issue here.

[2022-02-27 07:04] logrusx commented on #613
@willosdalb same answer from above.

[2022-02-27 12:02] willosdalb commented on #613
i just disabled the version restriction on Gnome Extensions and it worked :)

[2022-03-03 10:29] logrusx opened #617 "possible missing dependency in meson.build"
## Issue Summary

Gnome pomodoro seems to be linked against cairo, but the dependency is missing from meson.build

## Steps to Reproduce

1. build gnome pomodoro
2. find plenty of references to cairo in the output

## Context (logs, error output, screencast, OS, Desktop  etc)

I'm maintaining a Gentoo ebuild and a qa tool identified possible issues with the ebuild:
[code]
While the author warns to

[2022-03-05 08:50] kamilprusko commented on #617
Hi @logrusx

Yes, gnome-pomodoro directly uses cairo. Added in 93f834d61fb253a28feabe1bf11d6bf62047501d.

Cairo is a dependecy of GTK3, that's why there were no issues so far.

[2022-03-05 08:50] #617 closed

[2022-03-05 09:51] logrusx commented on #617
@kamilprusko thank you!

[2022-03-16 18:06] #594 closed

[2022-03-20 11:12] AdityaCheruvu commented on #524
This is a great feature to have. I was planning to open an issue on this and found that there is one open here.

[2022-03-23 10:51] mbledkowski commented on #602
no idea how, but it works

[2022-03-23 16:10] logrusx opened #618 "gnome-pomodoro-0.20.0 fails on Gnome 42"
## Issue Summary

I recently updated to Gnome 42 and modified the extension manually to support it.

## Steps to Reproduce

Modify metatdata.js to include compatibility with Gnome 42

## Context (logs, error output, screencast, OS, Desktop  etc)

The following appears in the logs:

gnome-shell-extension.vala:406: Extension error: Clutter.get_default_frame_rate is not a function

## Current Behavio

[2022-03-24 13:48] jtsilverio commented on #602
It did work for me, thanks! I am also on fedora 35.

 So the app needs the extension to work properly? In order distros is the extension installed with the package?

[2022-03-24 19:05] obilodeau commented on #604
The same happened to me several times today. I thought it was because a full-screen VM was grabbing X input but now I can't reproduce... I'll try the NumLock trick and report back.

[2022-03-25 09:39] DimStar77 commented on #618
Fixed in main branch already:

* https://github.com/gnome-pomodoro/gnome-pomodoro/commit/c008099ff773b798b8a682b4babcecaad6156e85
* https://github.com/gnome-pomodoro/gnome-pomodoro/commit/8322547e61fb32a68b76a84d0b9dd2702479c35d

[2022-03-25 10:03] mbledkowski commented on #602
on arch it is not

[2022-03-25 15:59] logrusx commented on #618
Thank you for letting me know, @DimStar77!
I just built from master and it's indeed fixed.

[2022-03-25 15:59] #618 closed

[2022-03-28 23:34] s4ln1x commented on #602
On fedora 35 also running the following command allows you to run gnome-pomodoro, not sure what the root issue could be.

`gnome-extensions enable pomodoro@arun.codito.in`

[2022-03-29 21:23] s4ln1x commented on #604
Happened to me today on Fedora 35

[2022-04-01 20:40] kamilprusko commented on #602
As @s4ln1x says, enabling the extension before running the app helps.

Fixed in [0.21.0](https://github.com/gnome-pomodoro/gnome-pomodoro/releases/tag/0.21.0) release.

[2022-04-01 20:40] #602 closed

[2022-04-01 21:18] kamilprusko commented on #616
Showing this notification interferes with Do Not Disturb feature in GNOME Shell. I'm surprised it works more often than not :D

Pomodoro extension would need to implement its own version of this feature. Hackish, but needs to be done.

[2022-04-08 07:33] bbo2adwuff opened #619 "Break overlay gets stuck at 0:01"
## Issue Summary

I just upgraded to Gnome 42, and I recompiled `gnome-pomodoro`. However now I cannot exit the overlay anymore (as in https://github.com/gnome-pomodoro/gnome-pomodoro/issues/604) and the break overlay gets stuck at 0:01, see:

![Screenshot from 2022-04-07 09-41-03](https://user-images.githubusercontent.com/34131023/162385704-9d6e5918-11fc-44ec-b97d-6e15918dade6.png)

Just a restar

[2022-04-08 12:10] elcalenx commented on #619
I'm encountering the same issue with Debian testing's packaged version of gnome-pomodoro. The display overlay is stuck, the only way I've found to exit it is to restart gnome-shell. As far as I can tell the issue started after a recent update of gnome-shell (to version 42).

[2022-04-09 07:04] emirhg commented on #492
This worked for me on Ubuntu 21.04 after reinstalling Gnome the error showed up (it was working nicely before). It's definitely a dependency error, but not sure which package did the trick.

[2022-04-09 16:27] logrusx commented on #616
`Showing this notification interferes with Do Not Disturb feature in GNOME Shell.`
Thanks for letting me know. It this some option to configure or a Gnome feature that's in general conflict with notifications? Because I haven't configured/enabled any such option explicitly.
`I'm surprised it works more often than not :D`
It doesn't. Only in the described cases :-)

[2022-04-10 10:22] real-or-random commented on #619
I can confirm this issue with GNOME 42. It's a really bad bug.

[2022-04-16 14:05] Guztaver commented on #619
i having the same problem in Arch Linux with GNOME 42 in Wayland

[2022-04-16 23:06] kappa commented on #619
Confirming this on Fedora 35 & 36, GNOME 42 w/ Wayland. Killing gnome-pomodoro process does not help, only killing the whole Wayland session helps.

[2022-04-18 08:11] therealjeybe commented on #619
Can confirm this on OpenSUSE Tumbleweed with GNOME 42 and Pomodoro 0.21.0. Seems to be a bug quite a while, see #604
Unfortunately a quite heavy bug that makes the extension unusable.

[2022-04-18 09:11] real-or-random commented on #619
I'm not entirely convinced that this is the same bug. They may be related but this one here really triggers only if the counter is down to 0:01. It's possible to close the break overlay earlier.

https://github.com/gnome-pomodoro/gnome-pomodoro/issues/604#issuecomment-993790481 says the other bug happens when an app steals focus. Maybe something triggers the focus stealing when the counter is down

[2022-04-18 09:16] therealjeybe commented on #619
Just ran the pomodoro timer again while working for two sessions, this time the screen locked after the 5 minutes and everything was fine after unlocking the screen again. So maybe was/is really a focus thing.

[2022-04-18 09:57] bbo2adwuff commented on #619
Here I tried it several times, and it was always getting stuck at 0:01. So I cannot confirm that it sometimes works and sometimes not.

[2022-04-18 13:21] therealjeybe commented on #619
The screen lock is automatically performed by GNOME after a specific time period of inactivity before the timer reaches 0:01. If I move the mouse to prevent GNOME from locking the screen, it is still stuck at 0:01. However, then I can still lock the screen with Super + L and after unlocking again it's not stuck anymore.
May be worth noting that I'm in a X11 Session currently and not Wayland.

[2022-04-18 15:49] real-or-random commented on #604
The overlay seems rather fragile, maybe it's a good idea to add an option to disable it? At the moment the only option is to disable the entire extension.

[2022-04-20 12:55] unsungNovelty opened #620 "v0.21.0 automatically starts the next pomodoro session after breaks"
## Issue Summary

Until v0.20.0. We have to manually start pomodoro sessions after break. With v0.21.0 it is automatically starts the next sessino after the break is over. I am not sure if this is a bug or a change since some pomodoro apps forces this behaviour.

If it is a feature, I would like to say that it increases the error-rate of how much **we actually worked** by a huge proportion. It for

[2022-04-20 20:10] sojusnik commented on #620
For me this is clearly a bug. I totally love that after a break a Pomodoro only starts after user interaction.

[2022-04-21 10:58] unsungNovelty commented on #620
@sojusnik . I have a feeling this has something to do with breaks being handled. So it is the expected behaviour to move to a break without the need for user's intervention. So maybe the desired behaviour post breaks got messed up too? I wonder if this bug was introduced during the recent v0.21.0 release.

[2022-04-21 19:16] bbo2adwuff commented on #619
# Here are the logs when the `short break` starts:

[code]

# Here are the logs at the second when it reaches 0:01:

[code]

[2022-04-26 00:51] Jdude311 opened #621 "Polybar integration - showing status indicator"
## Is your proposal related to a problem?

There is currently no way to get the timer's status using the command line, which means that the application cannot be integrated into systems other than GNOME (I was trying to write a polybar module for myself that would display the timer).

## Describe the solution you'd like

Add a command line switch that would allow users to get the timer status as f

[2022-04-26 08:42] kamilprusko commented on #621
Hi @Jdude311

The recommended way would be to use d-bus:
- less overhead
- you could attach signals on changes, no need to periodically call a command

I see that there are status indicators based on DBus
https://github.com/polybar/polybar-scripts/tree/master/polybar-scripts/player-mpris-tail

[2022-04-26 08:44] kamilprusko commented on #621
I recommend playing with D-Feet to explore DBus interface
![Screenshot from 2022-04-26 10-43-26](https://user-images.githubusercontent.com/1135423/165260179-07572da2-fc14-48b4-9fd3-db124e8f3112.png)

[2022-04-27 12:11] rodrigogonegit commented on #619
I can confirm the issue as well, had to remove the extension in the meantime.

[2022-05-01 00:16] upsuper commented on #619
After investigation, I believe this was caused by this change: https://gitlab.gnome.org/GNOME/gnome-shell/-/commit/7419674bd39b0ac644b3fdb1cb5ba584f20526ee

And applying the following change to `/usr/share/gnome-shell/extensions/pomodoro@arun.codito.in/dialogs.js` fixes the issue for me on Ubuntu 22.04:
[code]

[2022-05-01 05:53] floringogianu commented on #619
This fixes the issue on my system.

[2022-05-01 09:33] bbo2adwuff commented on #619
Thanks @upsuper! Your fix indeed works here as well.
So I'll close this issue here, as you opened a merge request already.

[2022-05-01 09:33] #619 closed

[2022-05-01 09:38] upsuper commented on #619
I don't think you should close the issue before the PR is actually merged... There is no guarantee that it would be merged, and if it does, this issue would be closed automatically when it happens.

[2022-05-01 14:48] immartian commented on #619
What's the testing part of this repo?

[2022-05-01 18:52] kamilprusko commented on #619
Patch included in [0.21.1](https://github.com/gnome-pomodoro/gnome-pomodoro/releases/tag/0.21.1).

Thanks for raising the issue and to @upsuper for the patch :heart:

[2022-05-02 13:55] rodrigogonegit commented on #619
@kamilprusko is the apt package going to be updated with this new version? It seems to be stuck with 20.0-3.

[2022-05-02 14:04] upsuper commented on #619
I think you will need to create ticket for Ubuntu or Debian to update it. I guess more likely they would accept a patch to make it 0.20.0-4 rather than upgrading to 0.21.x.

[2022-05-11 23:49] ethereal-engineer commented on #620
There used to be an option to wait for user interaction before starting the next pomodoro, but that seems to have vanished.

[2022-05-12 07:09] sojusnik commented on #620
It would be great, if it could be reimplemented, since it was very useful.

[2022-05-12 09:05] janvlug commented on #604
Today, when I had to use Microsoft Teams for a video call, the 5 minute break started. I could not escape from the break, so I decided to wait until the break was over (the video call was still working in the dimmed window). However, when the break end was reached, I heard the ping indicating this, but the timer stopped at 1 second before the end. It was a bit fiddling to get out of this break. I

[2022-05-13 00:30] ethereal-engineer commented on #620
As a workaround, until this is addressed, you could use the in-built "custom actions" plugin to tell gnome-pomodoro to stop itself at the conclusion of each break period.

![image](https://user-images.githubusercontent.com/2148403/168188365-8c363e42-8c4e-4aea-a8e5-b4586882d7fa.png)

[2022-05-14 07:32] mystilleef commented on #604
Same issue here. I notice when video or audio is playing, you cannot escape the break window. I'm also on Fedora 36. Thanks for the lock screen workaround. On some distros, locking the screen is WIN+L, in case CTRL+L doesn't work for some.

[2022-05-14 07:51] janvlug commented on #604
Soon an updated version will be available in the testing repository for Fedora 36:
`dnf upgrade --enablerepo=updates-testing --advisory=FEDORA-2022-bfb43e54c3`

[2022-05-14 18:03] mystilleef commented on #604
Does it address this issue?

[2022-05-15 20:26] Jdude311 commented on #621
Thank you! I will be taking a look at that.

[2022-05-15 20:26] #621 closed

[2022-05-15 20:44] janvlug commented on #604
Yes, it seems to fix this bug and https://github.com/gnome-pomodoro/gnome-pomodoro/issues/619.

[2022-05-16 06:27] logrusx commented on #604
Any custom patches from Fedora's side?

[2022-05-18 09:47] mbooth101 commented on #604
I added no extra patches downstream, just updated to the latest release 0.21.1

[2022-05-20 07:07] gulprun commented on #604
Not on Ubuntu?

[2022-05-20 12:23] mbooth101 commented on #604
I only maintain the Fedora package. I'd recommend filing a bug with ubuntu to get the maintainer to update the package there.

[2022-05-21 15:33] famdude commented on #561
It's so annoying....

[2022-05-28 01:30] pianoskateboard opened #624 "Uses up to 4GB of Memory and Drains Battery"
I'm using the Garuda Linux GNOME build. I left the timer running for about 20 minutes while I went outside and I came back and it drained 30% of my battery. I checked htop and it was using something like 4 GB of RAM, which is an insane resource hog. I notice that every time I use it this happens.

[2022-05-28 11:43] kamilprusko commented on #624
I don't experience such issues on my GNOME 41.6... Could you debug it further?
- Is there any spike in memory usage? When?
- Is it gnome-pomodoro swelling up or gnome-shell?
- Do you have Pomodoro window open?

[2022-05-30 02:28] frjrezende opened #625 "After the timer ends, it just goes into a long break"
## Issue Summary

Whenever the timer runs out, it just goes into a long pause. I cleared stats, cache, etc.
I compiled version 0.21.1 as per the instructions on the site. I did it this way because I'm using Ubuntu 22.04 with GNOME 42.1 and I needed to fix issue [#619,](https://github.com/gnome-pomodoro/gnome-pomodoro/issues/619) which has been resolved, but this one came up now and I couldn't reso

[2022-05-31 14:20] obilodeau commented on #604
0.21.1 didn't fix this bug for me. I'm on arch linux and compiled 0.21.1 myself last Saturday, restarted gnome-shell since.

The lock screen workaround doesn't work.

How can we debug this? I would love to attach to the process when the modal is locked and see the GTK properties. Any pointers to do so appreciated.

[2022-05-31 16:39] mzilhao commented on #604
I'm also having similar issues with Fedora 36 and 0.21.1. In most cases everything works fine, but there are situations where I can't exit the break screen and have to let clock run down. I haven't quite figured out what triggers this, but it does seem to happen more often whenever sound and/or video is playing.

[2022-06-02 09:26] janvlug commented on #604
I ran in this issue again when watching YouTube in Firefox in full screen when the 5-minutes break kicked in. `<Esc>` did not work to get out of the break, but the `<Super>-L` trick worked. Using: gnome-pomodoro.x86_64, 1:0.21.1-1.fc36.

[2022-06-06 09:40] nguxx commented on #619
Sorry, even following the link, I didn't understand what we are suppose to change in the .js file.
Could you explain ? Thx

[2022-06-06 09:46] upsuper commented on #619
Run
[code]

[2022-06-06 09:46] upsuper commented on #619
You can run
[code]

[2022-06-07 02:51] nguxx commented on #619
It woks like a charm.... Thanx

For noobs like me : this is the output
I did a reboot after the patch
[code]

[2022-06-17 00:55] immartian commented on #619
Patched but found another issue(not 100% sure) with the mouse-click lock in windows. I can use the mouse to click icons at the task bar(Ubuntu 22.04) but it's very strange that no links or content can be clicked or selected in Chrome/Firefox or terminal window(same to others). The keyboard, though, works fine. Does anyone see the same occurrence?

[2022-06-19 08:10] ismay commented on #619
I've not noticed that, but I did notice that the long break overlay still seemed to be suffering from the same bug. I'll see if I can reproduce it later.

[2022-06-21 11:46] real-or-random commented on #620
@kamilprusko Was this a deliberate change?

[2022-06-21 17:06] kamilprusko commented on #620
@real-or-random it wasn't a deliberate change - it's a regression. FWIW, it still works in GNOME 41.

[2022-06-21 17:16] sojusnik commented on #620
Can we bring it in Gnome 42, because it's such a useful feature to have.

[2022-06-21 20:16] kamilprusko commented on #620
@sojusnik I'll look into it in coming weeks. Unfortunately, I couldn't look into it sooner :(

[2022-06-21 22:50] real-or-random commented on #620
Thanks for all your work!

[2022-07-07 13:38] unsungNovelty commented on #620
FWIW I moved to this workflow. IT'S NOT A BUG, IT'S A FEATURE!! 😄
It pushes me to do stick to pomodoro sessions after short breaks. Thanks to the regression! :)

As @ethereal-engineer pointed out, you can use the custom actions plugin to make it automatically start after the break. Or the opposite way. To stop only after one complete (4 pomodoro sessions), use the below. I am guessing when this bu

[2022-07-07 15:36] TriplEight opened #627 "Screen overlay does not show seconds"
## Issue Summary

Describe your issue here.

## Steps to Reproduce

1. run the program
[code]
2. Have screen notifications turned on in preferences
3. Pick a short or long break or wait until it starts
4. Splash screen shows i.e.

##             5:...

Doesn't show seconds.

## Context (logs, error output, screencast, OS, Desktop  etc)

Arch Linux

## Expected Behavior

It's shown seconds the firs

[2022-07-11 07:35] Keyikedalube opened #628 "Force final 10s pop up notification even when firefox is full-screened"
## Issue Summary

When I am fully focused on reading my emails or watching videos I tend to always fullscreen my Firefox window. The problem is I don't get the final 10s countdown remaining notification with my browser full-screened. Pomodoro taking over without warning disrupts my workflow because I like to be prepared by marking where I left off or pausing the video so it doesn't continue playin

[2022-07-11 13:06] VladMasarik opened #629 "Missing icon in the top bar on Ubuntu 22.04"
## Issue Summary

I cannot see the usual "progress circle" in the the top bar. I had no issues with pomodoro on Ubuntu 20.04, but after switching to Ubuntu 22.04, it is no longer showing the "progress circle. Any thoughts? I dont think it is critical, but I like to see the progress.

## Steps to Reproduce

1. Start pomodoro app
2. Start counter
3. Close the app with "x" in the GUI
4. There is no "

[2022-07-14 20:19] prahal commented on #604
I have made up https://github.com/gnome-pomodoro/gnome-pomodoro/pull/630 to fix my issue. Likely this issue was gnome-shell pre 42 only and matches mine.

[2022-07-20 08:53] Nihta commented on #629
You can enable it manually using gnome Extension Manager software.

![image](https://user-images.githubusercontent.com/44351310/179940353-729e6abc-2369-4870-89c0-d1fbe95cb03a.png)

[2022-07-27 18:05] an-idiot-on-a-branch commented on #629
Unfortunately for some reason I can't see it in the extensions menu

[2022-08-02 13:56] VladMasarik commented on #629
@Nihta Lovely! It worked for me.

@an-idiot-on-a-branch I installed the Extension Manager with
[code]
Then you can either open it with
[code]
or just open the Ubuntu search with super(windows) key, and type extension. I had to enable the toggle in the top right corner, although I have no idea what it does... so that would be useful to know, but either way it works thanks to @Nihta

I guess, I will

[2022-08-04 08:05] humblebeee opened #632 "Ability to choose top bar icon location [Left, Center, Right]"
I have a few extensions installed and the right part of my top bar is already cluttered, unfortunately Pomodoro is located in there by default and this only adds to the clutter!

It would be great if I could choose the extensions icon location in the Preferences.

[2022-08-05 02:15] lonix1 commented on #551
Anyone manage to get it working?

[2022-08-05 15:34] lalitmee commented on #619
I am still facing this bug, after the patch too.

[2022-08-05 23:03] immartian commented on #619
same here, it's very buggy not only the timer but keyboard control. I've switched to an alternative tool, sadly

[2022-08-06 16:59] real-or-random commented on #620
@kamilprusko If you have just 5 min, could you have a look at #610? It's literally a one-line change, so it should be a very quick review.

[2022-08-10 18:40] benhbell commented on #613
yea, this helped after @willosdalb comment. https://www.maketecheasier.com/disable-extension-version-checks-gnome/

[2022-08-10 19:01] jvanz commented on #604
I also cannot leave the break window on openSUSE Leap  15.4 using wayland and GNOME 41.2

[2022-08-12 18:10] taw00 commented on #604
Sometimes you can leave the break blur-out with keyboard or mouse activity. Sometimes you can't. BUG. The CTRL-ALT-P thing is a non-obvious solution, so ... (user experience BUG or "improvement needed" or "documentation needed" or whatever).

[2022-08-12 18:19] taw00 commented on #604
Thanks for this. It's a good workaround until @prahal's patch is merged. It's been a month though since he made the pull request, so ... Well, we'll see.

[2022-08-15 14:34] dmitriy-chernysh commented on #629
Hi everyone. I had the same issue on Ubuntu 22. But after I turned this extinsion on and "it's time to take a break" comes , the timer  is ticking but screen is freezed. I am not able to cancel it. Mouse and keyboard stops working, just only hard reset helps.

[2022-08-17 13:47] benhbell commented on #629
for me hitting the esc key gets me out of that state.

[2022-08-19 11:27] etuardu opened #635 "Cannot leave the "take a break" overlay"
## Issue Summary
Once the "take a break" overlay appears it is not possible to leave it. Moving the mouse or pressing Esc do not work.

## Steps to Reproduce
1. start gnome pomodoro
2. wait until the "take a break" screen appears
3. try to override the break using input controls

## Context (logs, error output, screencast, OS, Desktop  etc)
* GNOME Shell 42.3.1
* Pop!_OS 22.04 LTS (just upgraded f

[2022-08-21 07:18] SamuelBorn opened #636 "Circular timer indicator is very thin on HiDPI displays"
## Issue Summary

The circular line which makes the timer in the tray has, _I assume_, a fixed width.
That's why the circle looks much too thin on devices with high DPI.

## Steps to Reproduce

1. Install gnome-pomodoro on machine with HiDPI display
2. Enable the timer in extensions manager
3. See the circle

## Possible Solution

Make the circle width dependent on the screen-resolution-

[2022-08-22 10:01] lguenth commented on #635
This also happens on vanilla Ubuntu 22.04 LTS, with Wayland, and Pomodoro 0.20.0.

[2022-08-22 13:37] etuardu commented on #635
Some further details:

- In spite of the modal overlay, a few keystrokes are captured by the system, so I manage to perform some actions such as:
  -  toggling overview mode pressing `Super`
  - move to next or previous desktop pressing `Ctrl`+`Alt`+`Up Arrow` or `Ctrl`+`Alt`+`Down Arrow`
  - Locking the screen pressing `Super`+`L`
- If I wait till the end of the break, the countdown will stop run

[2022-08-22 14:46] roman-eonx commented on #551
Unfortunately, the project looks abandoned :disappointed:

[2022-08-22 15:18] bbo2adwuff commented on #551
Do you mean [this](https://github.com/gnome-pomodoro/gnome-pomodoro/) (i.e. https://github.com/gnome-pomodoro/gnome-pomodoro/) or [this](https://packages.ubuntu.com/focal/gnome-shell-pomodoro) (i.e. https://packages.ubuntu.com/focal/gnome-shell-pomodoro) to be abandoned?

As you can see [here](https://github.com/gnome-pomodoro/gnome-pomodoro/commits/master) @kamilprusko puts great work into this p

[2022-08-23 06:37] roman-eonx commented on #551
@bbo2adwuff I mean Focal builds mainly. There are some issues with 0.16 (e.g. with duplicated notifications, system tray menu glitches, etc.) that probably have been solved in later versions. But there is no 0.16.1+ build for Focal and no replies in this issue for a long time already. This makes me think the package is abandoned.

[2022-08-25 15:36] tymmek commented on #635
Any idea how to kill the overlay process? what is it called?
I tried
`ps aux | grep "pomodoro"`
and manually looked through the entire output of `ps aux` ...

[2022-08-31 07:09] Maltergate commented on #629
I do have the same problem with Ubuntu 22.04.01, Gnome 42.2, X11. Without enabling the extension, everything is fine. With the extension enabled, the overlay for taking the break is impossible to get rid of, even by typing escape. The keyboard is somewhat frozen as I can type text but some shortcuts are still working (like F12 to display ddterm, which I can toggle behind the overlay during a break

[2022-09-02 12:14] #616 closed

[2022-09-03 10:00] #620 closed

[2022-09-03 13:06] lonix1 commented on #635
Be careful not to kill the `gnome-pomodoro` process itself, as the the desktop becomes unstable. I needed to log into another session alt+f3, and reboot!

[2022-09-03 13:09] lonix1 commented on #619
@immartian The tool's name, Lucia, do tell. :wink:

[2022-09-05 12:48] eduarddrenth commented on #635
killing pomodoro doesn't help, killing all my processes and logging in again helps, no need to reboot

[2022-09-08 09:54] bablf commented on #635
same for me. Ubuntu 22.04 LTS. Commenting for visibility  .

[2022-09-09 12:08] jayschauer commented on #610
I am on PopOS and I think I am experiencing a similar issue, maybe after locking my computer? Restarting my computer made the sounds work again. I am not using custom sounds, just the default ticking / birds. Turning the sound setting off and on or re-selecting it didn't fix it.

[2022-09-22 14:05] logrusx commented on #615
This seems to be resolved in 0.21.1

Thanks!

[2022-09-22 14:05] #615 closed

[2022-09-22 14:06] logrusx commented on #613
This issue should not be relevant anymore and therefore should be closed.

[2022-09-23 02:47] jvanz commented on #604
I noticed something Today. If I wait 2 seconds, I can leave the break screen moving the mouse.

[2022-09-23 20:03] prahal commented on #635
Patch 622 is already merged in a release from this repository. https://github.com/gnome-pomodoro/gnome-pomodoro/commit/381f215469f7706c36284bafdb8cdee96a39db7a since https://github.com/gnome-pomodoro/gnome-pomodoro/pull/622. You should bug your distribution for an issue fixed in an upstream release here 0.21.1 but not in your distribution release.

Or it could be you suffer from https://github.com

[2022-09-23 20:08] prahal commented on #604
My patch has been merged. @jvanz can you test the current git master code?

Also, I am also able to close the break overlay if I wait for a few seconds and press the escape key or the left mouse button. If you do not wait and do any interaction immediately the break overlay is not exited, only if you wait a few seconds then interact. This is unrelated to this issue. I do not know if it is expected

[2022-10-02 12:29] kamilprusko commented on #636
Fixed in [0.22.0](https://github.com/gnome-pomodoro/gnome-pomodoro/releases/tag/0.22.0)

[2022-10-02 12:29] #636 closed

[2022-10-02 12:49] kamilprusko commented on #604
Haven't experienced this issue since applying @upsuper's and @prahal's patches. Closing.

[2022-10-02 12:49] #604 closed

[2022-10-03 10:14] AndreiMiculita commented on #494
Will unfortunately have to uninstall it. This is a fundamental issue with the program that makes it unsuitable as a daily driver.

[2022-11-04 17:10] MacLotsen commented on #619
I'm experiencing the same issue. For me pressing `ALT` + `F2` and entering `r` works to get back into a working environment without shutting down all applications. Note that this method only works for me when I see a blinking cursor in the input field. If not I press `ESC` to hide the dialog and try again (I always end up with a blinking cursor the second time).

[2022-11-06 10:01] kamilprusko commented on #619
@MacLotsen Are you using [latest release (0.22.0)](https://github.com/gnome-pomodoro/gnome-pomodoro/releases/tag/0.22.0)?

The alternative method to recover: Ctrl + Alt + F3 and call `gnome-pomodoro --quit`

Please attach logs from gnome-shell if you experience this issue. Logs can be viewed with GNOME Logs app.

[2022-11-08 09:57] pfuhlert commented on #635
I have the same problem with Ubuntu 22.04, gnome 42.5, pomodoro 0.22.1

The problem was fixed at first but today I experienced that I couldnt leave the pause screen when I was inside a zoom meeting watching someone share a screen. Maybe adding a fail safe hotkey to terminate the pause screen would be a good idea?

[2022-11-08 14:41] pfuhlert commented on #635
That would even be better. I forgot to mention that I was viewing zoom screen sharing on full screen. So maybe some option like "avoid on fullscreen" (as in video fullscreen) would also be a good idea.

[2022-11-21 12:13] real-or-random opened #640 "Shell crashes when exiting fullscreen overlay"
## Issue Summary

GNOME Shell crashes with
[code]
(and then no stack trace follows)

## Steps to Reproduce

This seems to happen whenever the extension tries to exit the fullscreen overlay.

Disabling the shell extension makes the issue disappear.

## Context (logs, error output, screencast, OS, Desktop  etc)

on Wayland, GNOME Shell 43.1, Arch Linux

edit: Oh, I just remembered that I'm running a

[2022-11-21 12:59] kamilprusko commented on #640
Thanks for reporting the issue. I'll look into it.

At first glance it looks like low-level issue. Indeed could be libmutter.

[2022-11-21 16:37] MacLotsen commented on #619
Yes @kamilprusko I'm using `gnome-shell-pomodoro/jammy,now 0.20.0-3`. Can't access the logs though, since applying patch 662 mentioned by @upsuper  did the job. Thanks

[2022-11-22 07:26] PorcelainMouse commented on #619
Hmm, well, I tested it again and didn't have the problem.  Since my earlier update, I installed some system updates and rebooted.  Supposed that could explain it, but it wasn't like anything was actually outdated before that, just typical weekly patches.  Oh well; glad it didn't recur.  Sorry for the cruft.

[2022-11-22 13:37] VladMasarik commented on #629
@Maltergate @dmitriy-chernysh At first nothing worked for me, but as @mpjmuniz  mentioned it is possible.
TL;DR Build it from source according to the website, and reboot https://gnomepomodoro.org/

It seems that these issues have been already discussed and fixed before #613 #619 #622

In the end I realized that I was using version `20.3`, which was installed with `apt` https://packages.ubuntu.com/

[2022-11-22 14:06] real-or-random commented on #640
Okay, apparent happens only with a patched mutter, see my comment here: https://gitlab.gnome.org/GNOME/mutter/-/merge_requests/2671#note_1599943

But maybe let's keep this open for now until we've figured out whether mutter or gnome-pomodoro is to blame.

[2022-11-25 11:28] FiestaLake commented on #640
@real-or-random You should try to add a debug option in mutter-performance's PKGBUILD file and get the proper stack trace with something like gdb. The option is disabled by default for possibly increased performance and decreased package size. This can happen due to the backend side's behavior change of that MR.

[2022-11-25 12:41] real-or-random commented on #640
I'm happy to do that if asked by the mutter maintainers in their upstream, because then I know this is well-invested time.